body, html {
	height: 100%;
}

body {
	background: url(Tulips.jpg) no-repeat;
	background-size: cover;
	color: white;
	padding: 0;
	margin: 0;
}

#topheader {
	background: #333;
	height: 50px;
	padding: 10px;
}

#topheader h1 {
	font-family: arial; 
}

.box {
	width: 20%;
	max-width: 200px;
	padding: 10px;
	margin: 10px;
	background: white;
	color: black;
}

.innerbox {

background: red;
width: 50%;
}