/* Section 01 */
.zeroOne {
  background-image: url(../images/void.jpg);
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
}

.zeroOne .content  {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    max-width: 900px;
    margin: auto;
}

.zeroOne .content  {
  color: white;
  padding-left: 40px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}

.zeroOne .content .zeroWords {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.zeroOne .content .zeroWords h1 {
  color: white;
  padding-left: 40%; 
  font-family: 'Quicksand', sans-serif;
}
.sec01 {
  width: 500px;
  position: absolute; 
  left: 50%;
  margin-left: -250px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.zeroOne .content div {
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%; 

}

/* Section 02 */

.zeroTwo {
  background-image: url(../images/void.jpg);
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
}

.zeroTwo .content  {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    max-width: 900px;
    margin: auto;
}

.zeroTwo .content  {
  color: white;
  padding-left: 40px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}

.zeroTwo .content .zeroWords {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.zeroTwo .content .zeroWords h1 {
  color: white;
  padding-left: 40%; 
  font-family: 'Quicksand', sans-serif;
}

.comment {
  padding-top: 15%;
  width: 70%;
  margin: auto;
}

.comment p {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment p:nth-child(even) {
    background-color: rgba(153, 102, 153, 0.50);
}

.comment p:nth-child(odd) {
    background-color: rgba(0, 102, 153, 0.50);
}


/* Section 03 */
.zeroThree {
  background-image: url(../images/void.jpg);
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
}

.zeroThree .content  {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    max-width: 900px;
    margin: auto;
}

.zeroThree .content  {
  color: white;
  padding-left: 40px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
}

.zeroThree .content .zeroWords {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.zeroThree .content .zeroWords h1 {
  color: white;
  padding-left: 40%; 
  font-family: 'Quicksand', sans-serif;
  padding-top: 190px;
}

.comment-input {
/*  width: 90%;
  margin: auto;*/
  padding-top: 5%;
  width: 90%;
  margin: auto;
  color: white;
  padding-left: 120px;
  font-family: 'Quicksand', sans-serif;
}

.comment-input p {
  margin-bottom: 10px;
}

.comment-input input {
  width: 80%;
  height: 30px;
  font-size: 1.2em;
  font-weight: bold;
  background:black;
  color: white;
  padding-left: 10px;
}

.comment-input button {
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  color: ivory;
  background-color: rgba(153, 102, 153, 0.50);
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 33%;
}

/* @ MEDIA */

@media only screen and (max-width: 766px) {

  .zeroOne .content .zeroWords h1 {
    color: white; 
    font-family: 'Quicksand', sans-serif;
    padding-left: 0%;
  }

  .zeroTwo .content .zeroWords h1 {
    color: white; 
    font-family: 'Quicksand', sans-serif;
    padding-left: 0%;
  }

  .zeroThree .content .zeroWords h1 {
    color: white; 
    font-family: 'Quicksand', sans-serif;
    padding-left: 0%;
  }

  .comment-input {
  padding-top: 5%;
  width: 90%;
  margin: auto;
  color: white;
  padding-left: 12px;
  font-family: 'Quicksand', sans-serif;
}

}
